@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
    /* Colors */
    --black05: rgba(0, 0, 0, 0.05);
    --black60: rgba(0, 0, 0, 0.6);
    --black: #000;
    --white: #fff;
    --gray-50: #f3f3f3;
    --gray-100: #e7e7e7;
    --gray-200: #dcdcdc;
    --gray-300: #d7d7d7;
    --gray-400: #aeaeae;
    --gray-500: #aaa;
    --gray-600: #696969;
    --gray-700: #505050;
    --red-100: #ffdede;
    --green-500: #28bb25;
    /* Font */
    --font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--gray-50);
    font-family: var(--font-family);
}

/* Header */
header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px;
    background: var(--white);
    box-shadow: 0px 4px 6px var(--black05);
}

header > ion-icon {
    font-size: 42px;
    cursor: pointer;
}
/* FIM Header */

/* Aside */
aside {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
}

aside > .aside-bg {
    background: var(--black60);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease 0.3s;
}

aside > .aside-content {
    background: var(--white);
    width: min(80%, 260px);
    height: 100%;
    padding: 18px;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform ease 0.3s;

    color: var(--black);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

aside.open {
    opacity: 1;
    pointer-events: all;
}

aside.open > .aside-content {
    transform: translateX(0);
}

aside.open > .aside-bg {
    opacity: 1;
}

aside .options {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

aside .options > h2 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 19px;
    padding: 0 16px;
}

aside .options .radio-container,
aside .options .radio-container .contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

aside .options label {
    width: 100%;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 9px;
}

aside .options label ion-icon {
    font-size: 22px;
}

aside .options label object {
    margin-left: auto;
    transform: scale(0);
    opacity: 0;
    transition: opacity ease 0.3s, transform ease 0.4s;
}

aside .options label:has(input:checked) object {
    opacity: 1;
    transform: scale(1);
}

aside .options label span {
    margin-top: 2px;
}
aside .options:last-child label span {
    margin-top: 4px;
}

aside .options input {
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 0;
    position: absolute;
}

/* END Aside */

/* Message element */
.messages-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 106px 0 84px 0;
}

.message {
    background: var(--white);
    min-height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    line-height: 20px;
}

.message > p {
    white-space: none;
    text-overflow: wrap;
}

.message > p .time {
    color: var(--gray-500);
    margin-right: 6px;
}

.message > p .user,
.message > p .to {
    font-weight: 700;
}

.message > p .to {
    margin-right: 6px;
}

.message.status {
    background: var(--gray-200);
}

.message.private_message {
    background: var(--red-100);
}
/* END Message element */

/* Send message form */
.submission-form {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    background: var(--white);
    box-shadow: 0px -4px 6px var(--black05);
    padding: 0 18px;
}

.submission-form > textarea {
    outline: none;
    border: none;
    resize: none;
    background: transparent;
    flex: 1;
    color: var(--black);
    font-size: 18px;
    font-family: var(--font-family);
}

.submission-form > textarea::placeholder {
    font-style: italic;
    color: inherit;
}

.submission-form > button {
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.submission-form > button ion-icon {
    font-size: 26px;
}
/* END Send message form */

/* Loader */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translate(-50%, -50%) translateZ(0);
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #000, 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
            1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
            -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5),
            -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7), 1.8em -1.8em 0 0em #000, 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
            1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
            -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em #000,
            1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
            -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5),
            2.5em 0em 0 0em rgba(0, 0, 0, 0.7), 1.75em 1.75em 0 0em #000, 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
            -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2),
            2.5em 0em 0 0em rgba(0, 0, 0, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em #000,
            -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2),
            2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5),
            0em 2.5em 0 0em rgba(0, 0, 0, 0.7), -1.8em 1.8em 0 0em #000, -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2),
            2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2),
            0em 2.5em 0 0em rgba(0, 0, 0, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em #000,
            -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2),
            2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2),
            0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5),
            -2.6em 0em 0 0em rgba(0, 0, 0, 0.7), -1.8em -1.8em 0 0em #000;
    }
}
/* END Loader */

/* UX */
.clickable:hover {
    opacity: 0.6;
}
.clickable:active {
    opacity: 0.4;
}
/* END UX */
